<div id="side">
  <div id="menu_box">
    <ul class="menu">
      <li><img src="http://image.eiga.k-img.com/images/movie/81710/poster2.jpg?1435892840"></li>
      <li><img src="http://miraibunko.jp/book/koi/book029/images/img_bookIllust.png"></li>
      <li><img src="http://livedoor.blogimg.jp/tapiamovie/imgs/5/8/58361c70.gif"></li>
      <li><img src="https://www.toho.co.jp/movie/ore_movie_thumb2.jpg"></li>
    </ul>
  </div>
</div><!--#side-->