/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin:0;
  line-height:1;
  background:#eee;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,Helvetica,Arial,Sans-Serif;
  font-size: 12px;
  color: #333;
  overflow-y: scroll;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear:both;
}
h1 {
}
/*ヘッダー*/
header {
  width:100%;
  min-width:1080px;
  margin:0 auto 30px;
  background: none repeat scroll 0% 0% #FFF !important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.header-content {
  width:1080px;
  margin:0 auto;
  padding: 15px 0;
}
#header-logo {
  display:inline-block;
}
#header-logo span {
  color:#D64F4C;
  font-size:26px;
  /*width: 145px;*/
  text-align: center;
}
#header-logo .dark{
  color:#333;
}

#header-logo h1{
  font-weight:normal;
  margin: 0;
  padding: 0;
}
#search-box form {
  display: inline-block;
  margin-top: 0em;
}
#search-box{
  display:inline-block;
  margin:0px;
}

#search-box input {
  width: 650px;
  height: 50px;
  font-size: 25px;
  padding: 5px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  vertical-align: baseline;
  color: #000;
  display: inline-block;
}
.searchsubmit{
  width: 63px;
  height: 100%;
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  text-align: center;
  border: 1px solid #cacaca;
  border-radius: 5px;
  vertical-align: top;
}
.searchsubmit {
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
}
/*.searchsubmit:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}
.searchsubmit::before,
.searchsubmit::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.searchsubmit::before {
  right: 0;
}
.searchsubmit::after {
  left: 0;
}
.searchsubmit:hover::before,
.searchsubmit:hover::after {
  width: 0;
  background-color: #59b1eb;
}

*/
#s{
  width:200px;
  text-rendering:auto;
  color:initial;
  letter-spacing:normal ;
  padding:4px;
  -webkit-writing-mode:horizontal-tb;
}
#navi-outer {
  display: inline-block;
  float:right;
  padding-top: 7px;
}
ul.navi {
  margin: 0;
  padding: 0;
}
ul.navi li {
  float:left;
  list-style:none;
  font-size:11px;
  border:1px solid #cacaca;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow:0 1px 5px
    rgba(0,0,0,0.25);
  zoom:1;
  background:#fff;
  margin-right:5px;
  height:30px;
  width:100px;
}
ul.navi li:hover {
  background:#D64F4C;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}
ul.navi li a{
  display:block;
  color:#000;
  width:100px;
  line-height:30px;
  text-decoration: none;
  font-weight:400;
  text-align:center;
}

/*ヘッダーここまで*/

#main{
  width:1080px;
  margin:0 auto;
}

#main h2 {
  clear: both;
  /*border-bottom: 2px solid #ca332f;*/

  font-size: 15px;
  color: #231815;
  line-height: 1.5em;
  margin: 5px 0 10px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #999;
}

.h2-douga {
  /*background-image: url(images/movie.png);
  background-repeat: no-repeat;*/
  background-position: left center;
  padding-left: 24px;
}

#content {
  float:left;
  width:730px;
  overflow:hidden;
  margin-bottom:30px;
}
.content {
    margin: 0 auto;
  padding-top:80px;
  padding-bottom:0;
  text-align:center;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
#content h1{
  font-size:22px;
  line-height:28px;
  font-weight:bold;
  margin:4px 0 0;
}


.user-outer {
  position: relative;
  margin: 0 10px 20px 0;
  background: #FFF;
  padding: 10px;
}
.image-outer {
  width: 100px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
.user-outer img {
  /*height: 100px;*/
  max-width: 100px;

}
.user-name {
  text-align: left;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-top: 5px;
}

#menu_box {
   margin-left: 10px;
   float: left;
   border: #e5e4e6 1px solid;
}
.menu {
   list-style: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
   position: relative;
}
.menu li {
   width:310px;
   background:#fff;
   position: relative;
   border-bottom:1px solid #fff;
}
.menu img {
  width: 100%;
}


