<!DOCTYPE html>
<html>
<head>
  <title>IncrementalSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header-content clearfix">
      <div id="header-logo">
        <a href="/"><h1><span>PARTY</span><span class="dark">::POEPLE</span></h1></a>
      </div>


<!--       <div id="navi-outer">
        <ul class="navi">
        </ul>
      </div> -->
    </div><!--.header-content-->
  </header>
<%= yield %>

</body>
</html>
